extends layout

block content
  - var image_names = ['ore1', 'ore2', 'ore3', 'ore4', 'ore5']
  - var height = 200
  - var width = 200
  - var displayedImages = []
  while displayedImages.length < 3
    - var randomIndex = Math.floor(Math.random() * 5)
    - var randomImage = image_names[randomIndex]
    - if (!displayedImages.includes(randomImage))
      - displayedImages.push(randomImage)
      img(
        src=`/images/${randomImage}.png`,
        alt=`${randomImage}`,
        height=height,
        width=width
      )
